@using Equipments.Domain;
@*
<RadzenFieldset Text="Purchase Info">
<div class="row">
    <div class="col-md-4 align-items-center d-flex">
        <RadzenLabel Text="Cardholder" />
    </div>
    <div class="col-md-8">
        <RadzenTextBox style="width: 100%;" Name="CardHolder" />
    </div>
</div>
</RadzenFieldset>*@

<RadzenTemplateForm Data="@dataType" Submit="@((DataType args) => { Submit(args); })">
    <RadzenFieldset Text="Тип данных">

        <div class="row">
            <div class="col-md-8 align-items-center d-flex">
                <RadzenLabel Text="Наименование" />
            </div>
            <div class="col-md-8">
                <RadzenTextBox style="width: 100%;" Name="Name" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 align-items-center d-flex">
                <RadzenLabel Text="Кодовое наименование" />
            </div>
            <div class="col-md-8">
                <RadzenTextBox style="width: 100%;" Name="CodeName" />
            </div>
        </div>

        @*<div class="row">
        <div class="col-md-4 align-items-center d-flex">
        <RadzenLabel Text="Expiry Date" />
        </div>
        <div class="col-md-8">
        <RadzenDatePicker style="width: 100%;" Name="ExpiryDate" @bind-Value="order.ExpiryDate" />
        </div>
        </div>*@

        @*<div class="row">
        <div class="col-md-4 align-items-center d-flex">
        <RadzenLabel Text="Credit Card" />
        </div>
        <div class="col-md-8">
        <RadzenDropDown @bind-Value="order.CardId" AllowClear="true" Placeholder="Select something" Data="@cards" style="width: 100%;" TextProperty="CardNr" ValueProperty="CardId" Name="CardId">
        </RadzenDropDown>
        </div>
        </div>*@

    </RadzenFieldset>

    <div class="row justify-content-center">
        <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel" />
        </div>
    </div>

</RadzenTemplateForm>

@code {
    private DataType dataType = new();

    void Submit(DataType type)
    {
        //
    }

    void Cancel()
    {
        //
    }
}
