@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>

    <Authorized>
        <div class="row">
            <div class="col-md-6">
                <a href="authentication/profile">Здорово, @context.User.Identity?.Name!</a>
            </div>
            <div class="col-md-2">
                <RadzenButton Shade="Shade.Dark" Click=@BeginSignOut Text="Выход" ButtonStyle="ButtonStyle.Light" />
            </div>
        </div>
    </Authorized>

    <NotAuthorized>
        <div class="row">
            <div class="col-md-4">
                <RadzenLink Path="authentication/register" Text="Зарегаться" />
            </div>
            <div class="col-md-4">
                <RadzenLink Path="authentication/login" Text="Залогиниться" />
            </div>
        </div>
    </NotAuthorized>

</AuthorizeView>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
